.cards__item {
  list-style-type: none;
  width: 240px;
  margin-right: 100px;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
}

.cards__item:nth-last-child(3n) {
  margin-right: 0;
}
