.khan__buy-link {
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  text-decoration: none;
  z-index: 2;
  height: 100%;
  color: #2f80ed;
}

.khan__buy-link:hover {
  opacity: 60%;
  transition: opacity 0.2s ease-in-out;
}
